@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');


:root {
  --background-color: rgb(42, 39, 65);
  --primary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: var(--background-color);
  color: var(--primary-text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1,
.hamburger {
  margin: 1rem;
}

.nav-links {
  position: absolute;
  top: 4rem;
  width: 100%;
  display: none;
}

.nav-links ul {
  text-align: center;
  list-style-type: none;
}

.nav-links a {
  display: block;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.18);
}

.nav-links a:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.2rem;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 100%;
  height: .2rem;
  background: var(--primary-text-color);
  border-radius: .1rem;
}

nav.mobile-open .nav-links {
  display: block;
}

@media only screen and (min-width: 700px) {

  .nav-links {
    display: block;
    position: unset;
    width: fit-content;
  }

  .nav-links ul {
    display: flex;
  }

  .nav-links li {
    list-style-type: none;
  }

  .nav-links a {
    background: transparent;
  }

  .hamburger {
    display: none;
  }
}